.env
.venv/
__pycache__/
*.pyc
db.sqlite3
staticfiles/
media/
*.egg-info/
.DS_Store
EOF
env
.env
.idea

infra/terraform.tfvars
infra/.terraform/
infra/*.tfstate
infra/*.tfstate.backup
infra/.terraform.lock.hcl